# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [1]:
#exercice1
ma_liste = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(ma_liste)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#exercice 2
mon_tuple = ("apple", "banana", "cherry")
print(mon_tuple)

('apple', 'banana', 'cherry')

In [3]:
#exercice 3
numbers = [10, 20, 30, 40]
mon_tuple = tuple(numbers)
print(mon_tuple)

(10, 20, 30, 40)

In [4]:
#exercice 4
mon_set = {1, 2, 3, 4, 5}
print(mon_set)

{1, 2, 3, 4, 5}

In [5]:
#exercice 5
student = {
    "name": "Alice",
    "age": 20,
    "grade": "A"
}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [6]:
#exercice6
ma_liste = [10, 20, 30, 40, 50]
print(ma_liste[1])

20

In [7]:
#exercice 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [8]:
#exercice 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}

In [9]:
#exercice 9
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

In [10]:
#exercice 10
mon_range = range(0, 10)
print(list(mon_range))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
#exercice 11
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#exercice 12
even_tuple = tuple(x for x in range(2, 11) if x % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

In [13]:
#exercice 13
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [14]:
#exercice 14
numbers = {1, 2, 3, 4, 5}
resultat = 3 in numbers
print(resultat)

True

In [15]:
#exercice 15
numbers = (10, 20, 30)
longueur = len(numbers)
print(longueur)

3

In [16]:
#exercice 16
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

In [17]:
#exercice 17
def somme_liste(ma_liste):
    total = 0
    for nombre in ma_liste:
        total += nombre
    return total

resultat = somme_liste([1, 2, 3, 4, 5])
print(resultat)

15

In [18]:
#exercice 18
numbers = [1, 2, 2, 3, 4, 4, 5]
mon_set = set(numbers)
print(mon_set)

{1, 2, 3, 4, 5}

In [19]:
#exercice 19
mon_mot = "hello"
liste_caracteres = list(mon_mot)
print(liste_caracteres)

['h', 'e', 'l', 'l', 'o']

In [20]:
#exercice 20
def inverser_tuple(mon_tuple):
    return mon_tuple[::-1]

resultat = inverser_tuple((1, 2, 3, 4))
print(resultat)

(4, 3, 2, 1)

In [21]:
 #exercice 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict_merge = {**dict1, **dict2}
print(dict_merge)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [22]:
#exercice 22
mon_dict = {}
for i in range(1, 6):
    mon_dict[i] = i**2
print(mon_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
#exercice 23
mon_dict = {"name": "Alice", "age": 25, "city": "Paris"}
for cle, valeur in mon_dict.items():
    print(cle, ":", valeur)

name : Alice
age : 25
city : Paris

In [24]:
#exercice 24
alphabet = []
for i in range(65, 70):
    alphabet.append(chr(i))
print(alphabet)

['A', 'B', 'C', 'D', 'E']

In [25]:
#exercice 25
liste1 = [1, 2, 3]
liste2 = ["a", "b", "c"]
resultat = list(zip(liste1, liste2))
print(resultat)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [26]:
#exercice 26
ma_liste = [10, 20, 30, 40, 50]
index = ma_liste.index(50)
print(index)

4

In [27]:
#exercice 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

In [28]:
#exercice 28
def plus_grand(ma_liste):
    return max(ma_liste)

resultat = plus_grand([3, 5, 2, 9, 1])
print(resultat)

9

In [29]:
#exercice 29
fruits = ["apple", "banana", "apple", "orange"]
nombre = fruits.count("apple")
print(nombre)

2

In [30]:
#exercice 30
person = {"name": "Alice", "age": 25, "city": "New York"}
ville = person["city"]
print(ville)

New York

In [31]:
#exercice 31
def enlever_doublons(ma_liste):
    resultat = []
    for element in ma_liste:
        if element not in resultat:
            resultat.append(element)
    return resultat

resultat = enlever_doublons([1, 2, 2, 3, 4, 4, 5])
print(resultat)

[1, 2, 3, 4, 5]

In [32]:
#exercice 32
def intersection(liste1, liste2):
    resultat = []
    for element in liste1:
        if element in liste2:
            resultat.append(element)
    return resultat

resultat = intersection([1, 2, 3], [2, 3, 4])
print(resultat)

[2, 3]

In [33]:
#exercice 33
def carres():
    for i in range(1, 11):
        yield i**2

for carre in carres():
    print(carre)

1
4
9
16
25
36
49
64
81
100

In [34]:
#exercice 34
def somme_valeurs(mon_dict):
    total = 0
    for valeur in mon_dict.values():
        total += valeur
    return total

resultat = somme_valeurs({"a": 1, "b": 2, "c": 3})
print(resultat)

6

In [35]:
#exercice35
ma_liste = [3, 1, 4, 1, 5, 9]
trie = sorted(ma_liste)
print(trie)

[1, 1, 3, 4, 5, 9]

In [36]:
#exercice 36
def plus_longue_string(ma_liste):
    plus_longue = ""
    for string in ma_liste:
        if len(string) > len(plus_longue):
            plus_longue = string
    return plus_longue

resultat = plus_longue_string(["a", "ab", "abc", "ab"])
print(resultat)

abc

In [37]:
#exercice 37
ma_liste = [1, 2, 3, 4, 5]
resultat = all(x > 0 for x in ma_liste)
print(resultat)

True

In [38]:
#exercice38
liste_tuples = []
for i in range(1, 6):
    liste_tuples.append((i, i**2))
print(liste_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [39]:
#exercice 39
def deuxieme_elements(ma_liste):
    resultat = []
    for tuple in ma_liste:
        resultat.append(tuple[1])
    return resultat

resultat = deuxieme_elements([(1, 2), (3, 4), (5, 6)])
print(resultat)

[2, 4, 6]

In [40]:
#exercice 40
def aplatir(ma_liste):
    resultat = []
    for sous_liste in ma_liste:
        for element in sous_liste:
            resultat.append(element)
    return resultat

resultat = aplatir([[1, 2], [3, 4], [5, 6]])
print(resultat)

[1, 2, 3, 4, 5, 6]

In [41]:
#exercice 41
fruits = ["apple", "banana", "cherry"]
for index, valeur in enumerate(fruits):
    print(index, valeur)

0 apple
1 banana
2 cherry

In [42]:
#exercice 42
mon_tuple = ()
if len(mon_tuple) == 0:
    print("Le tuple est vide")
else:
    print("Le tuple n'est pas vide")

Le tuple est vide

In [43]:
#exercice 43
pairs = list(range(2, 21, 2))
print(pairs)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
#exercice 44
def inverser(ma_liste):
    resultat = []
    for i in range(len(ma_liste)-1, -1, -1):
        resultat.append(ma_liste[i])
    return resultat

resultat = inverser([1, 2, 3, 4, 5])
print(resultat)

[5, 4, 3, 2, 1]

In [45]:
#exercice 45
mon_dict = {i: i**3 for i in range(1, 6)}
print(mon_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [46]:
#exercice 46
ma_liste = [1, 2, 2, 3, 4, 4, 5]
unique = []
for element in ma_liste:
    if element not in unique:
        unique.append(element)
print(unique)

[1, 2, 3, 4, 5]

In [47]:
#exercice 47
def valeurs_cle(liste_dicts, cle):
    resultat = []
    for dictionnaire in liste_dicts:
        resultat.append(dictionnaire[cle])
    return resultat

resultat = valeurs_cle([{"a": 1}, {"a": 2}], "a")
print(resultat)

[1, 2]

In [48]:
#exercice 48
def fibonacci(n):
    a, b = 0, 1
    compteur = 0
    while compteur < n:
        yield a
        a, b = b, a + b
        compteur += 1

for nombre in fibonacci(10):
    print(nombre)

0
1
1
2
3
5
8
13
21
34

In [49]:
#exercice 49
def caracteres_uniques(mon_string):
    resultat = []
    for caractere in mon_string:
        if caractere not in resultat:
            resultat.append(caractere)
    return resultat

resultat = caracteres_uniques("hello")
print(resultat)

['h', 'e', 'l', 'o']

In [50]:
#exercice 50
def fusionner_triees(liste1, liste2):
    resultat = []
    i, j = 0, 0
    while i < len(liste1) and j < len(liste2):
        if liste1[i] < liste2[j]:
            resultat.append(liste1[i])
            i += 1
        else:
            resultat.append(liste2[j])
            j += 1
    resultat.extend(liste1[i:])
    resultat.extend(liste2[j:])
    return resultat

resultat = fusionner_triees([1, 3, 5], [2, 4, 6])
print(resultat)

[1, 2, 3, 4, 5, 6]

In [51]:
#exercice 51
ma_liste = [1, 2, 3, 4, 5, 6]
pairs = list(filter(lambda x: x % 2 == 0, ma_liste))
print(pairs)

[2, 4, 6]

In [52]:
#exercice 52
liste_tuples = [(1, 2), (3, 4), (5, 6)]
mon_dict = dict(liste_tuples)
print(mon_dict)

{1: 2, 3: 4, 5: 6}

In [53]:
#exercice 53
def difference_symetrique(set1, set2):
    return set1 ^ set2

resultat = difference_symetrique({1, 2, 3}, {3, 4, 5})
print(resultat)

{1, 2, 4, 5}

In [54]:
#exercice 54
list1 = [1, 2, 3, 4]
list2 = [2, 3, 4, 5]
list3 = [3, 4, 5, 6]
commun = []
for element in list1:
    if element in list2 and element in list3:
        commun.append(element)
print(commun)

[3, 4]

In [55]:
#exercice 55
def factorielle(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorielle(n-1)

resultat = factorielle(5)
print(resultat)

120

In [56]:
#exercice 56
ma_liste = ["apple", "", "banana", "", "cherry"]
resultat = [element for element in ma_liste if element != ""]
print(resultat)

['apple', 'banana', 'cherry']

In [57]:
#exercice 57
def inverser_dict(mon_dict):
    nouveau_dict = {}
    for cle, valeur in mon_dict.items():
        nouveau_dict[valeur] = cle
    return nouveau_dict

resultat = inverser_dict({"a": 1, "b": 2})
print(resultat)

{1: 'a', 2: 'b'}

In [58]:
 #exercice 58
def nombres_pairs(ma_liste):
    resultat = []
    for nombre in ma_liste:
        if nombre % 2 == 0:
            resultat.append(nombre)
    return resultat

resultat = nombres_pairs([1, 2, 3, 4, 5, 6])
print(resultat)

[2, 4, 6]

In [59]:
#exercice 59
def premiers_elements(ma_liste):
    resultat = []
    for tuple in ma_liste:
        resultat.append(tuple[0])
    return resultat

resultat = premiers_elements([(1, 2), (3, 4), (5, 6)])
print(resultat)

[1, 3, 5]

In [60]:
#exercice 60
ma_liste = [1, 2, 2, 3, 4, 4, 5]
resultat = []
for element in ma_liste:
    if element not in resultat:
        resultat.append(element)
print(resultat)

[1, 2, 3, 4, 5]

In [61]:
#exercice 61
ma_liste = ["apple", "banana", "cherry"]
longueurs = list(map(len, ma_liste))
print(longueurs)

[5, 6, 6]

In [62]:
#exercice 62
ma_liste = [10, 20, 30, 40, 50]
moyenne = sum(ma_liste) / len(ma_liste)
print(moyenne)

30.0

In [63]:
#exercice 63
def fibonacci_liste(n):
    resultat = []
    a, b = 0, 1
    for _ in range(n):
        resultat.append(a)
        a, b = b, a + b
    return resultat

resultat = fibonacci_liste(10)
print(resultat)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [64]:
#exercice 64
ma_liste = ["apple", "banana", "apple", "cherry"]
compteur = {}
for element in ma_liste:
    compteur[element] = compteur.get(element, 0) + 1
print(compteur)

{'apple': 2, 'banana': 1, 'cherry': 1}

In [65]:
#exercice 65
ma_liste = [1, 2, 3, 2, 4, 2, 5]
valeur = 2
resultat = [element for element in ma_liste if element != valeur]
print(resultat)

[1, 3, 4, 5]

In [66]:
#exercice 66
def commence_par_voyelle(ma_liste):
    voyelles = "aeiouAEIOU"
    resultat = []
    for string in ma_liste:
        if string and string[0] in voyelles:
            resultat.append(string)
    return resultat

resultat = commence_par_voyelle(["apple", "banana", "orange", "pear"])
print(resultat)

['apple', 'orange']

In [67]:
#exercice 67
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
intersection = set1 & set2
print(intersection)

{3, 4}

In [68]:
#exercice 68
def aplatir_recursif(ma_liste):
    resultat = []
    for element in ma_liste:
        if isinstance(element, list):
            resultat.extend(aplatir_recursif(element))
        else:
            resultat.append(element)
    return resultat

resultat = aplatir_recursif([[1, 2], [3, [4, 5]], 6])
print(resultat)

[1, 2, 3, 4, 5, 6]

In [69]:
#exercice 69
def tous_uniques(ma_liste):
    return len(ma_liste) == len(set(ma_liste))

resultat = tous_uniques([1, 2, 3, 4, 5])
print(resultat)

True

In [70]:
#exercice 70
from functools import reduce
ma_liste = [1, 2, 3, 4, 5]
produit = reduce(lambda x, y: x * y, ma_liste)
print(produit)

120

In [71]:
#exercice 71
def string_longueurs(ma_liste):
    resultat = {}
    for string in ma_liste:
        resultat[string] = len(string)
    return resultat

resultat = string_longueurs(["apple", "banana", "cherry"])
print(resultat)

{'apple': 5, 'banana': 6, 'cherry': 6}

In [72]:
#exercice 72
mon_string = "hello world"
voyelles = "aeiouAEIOU"
compteur = 0
for caractere in mon_string:
    if caractere in voyelles:
        compteur += 1
print(compteur)

3

In [73]:
 #exercice 73
def factorielle(n):
    if n == 0 or n == 1:
        return 1
    return n * factorielle(n-1)

liste_tuples = []
for i in range(1, 6):
    liste_tuples.append((i, factorielle(i)))
print(liste_tuples)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

In [74]:
#exercice 74
liste_dicts = [{"a": 1}, {"b": 2}, {"c": 3}]
resultat = {}
for dictionnaire in liste_dicts:
    resultat.update(dictionnaire)
print(resultat)

{'a': 1, 'b': 2, 'c': 3}

In [75]:
#exercice 75
def est_sous_ensemble(set1, set2):
    return set1.issubset(set2)

resultat = est_sous_ensemble({1, 2}, {1, 2, 3})
print(resultat)

True

In [76]:
#exercice 76
liste_tuples = [(1, 3), (2, 1), (3, 2)]
trie = sorted(liste_tuples, key=lambda x: x[1])
print(trie)

[(2, 1), (3, 2), (1, 3)]

In [77]:
#exercice 77
def nombres_positifs(ma_liste):
    resultat = []
    for nombre in ma_liste:
        if nombre > 0:
            resultat.append(nombre)
    return resultat

resultat = nombres_positifs([-1, 2, -3, 4, -5, 6])
print(resultat)

[2, 4, 6]

In [78]:
 #exercice 78
def union_sets(set1, set2):
    return set1 | set2

resultat = union_sets({1, 2, 3}, {3, 4, 5})
print(resultat)

{1, 2, 3, 4, 5}

In [79]:
#exercice 79
def produit(ma_liste):
    resultat = 1
    for nombre in ma_liste:
        resultat *= nombre
    return resultat

resultat = produit([1, 2, 3, 4])
print(resultat)

24

In [80]:
#exercice 80 
ma_liste = ['h', 'e', 'l', 'l', 'o']
mon_string = ''.join(ma_liste)
print(mon_string)

hello

In [81]:
#exercice 81
ma_liste = [10, 20, 30, 40, 50]
trie = sorted(ma_liste)
second_largest = trie[-2]
print(second_largest)

40

In [82]:
#exercice 82
def cles_triees(mon_dict):
    return sorted(mon_dict.keys())

resultat = cles_triees({"c": 1, "a": 2, "b": 3})
print(resultat)

['a', 'b', 'c']

In [83]:
#exercice 83
ma_liste = [1, 2, 2, 3, 3, 3, 4]
compteur = {}
for element in ma_liste:
    compteur[element] = compteur.get(element, 0) + 1
most_common = max(compteur, key=compteur.get)
print(most_common)

3

In [84]:
 #exercice 84
def trier_par_premier(ma_liste):
    return sorted(ma_liste, key=lambda x: x[0])

resultat = trier_par_premier([(3, 1), (1, 2), (2, 3)])
print(resultat)

[(1, 2), (2, 3), (3, 1)]

In [85]:
#exercice 85
liste_dicts = [{"a": 1}, {"a": 1}, {"b": 2}]
resultat = []
for dictionnaire in liste_dicts:
    if dictionnaire not in resultat:
        resultat.append(dictionnaire)
print(resultat)

[{'a': 1}, {'b': 2}]

In [86]:
#exercice 86
def min_max(ma_liste):
    return min(ma_liste), max(ma_liste)

resultat = min_max([1, 2, 3, 4, 5])
print(resultat)

(1, 5)

In [87]:
#exercice 87

In [88]:
#exercice 88
def inverser_strings(ma_liste):
    resultat = []
    for string in ma_liste:
        resultat.append(string[::-1])
    return resultat

resultat = inverser_strings(["abc", "def", "ghi"])
print(resultat)

['cba', 'fed', 'ihg']

In [89]:
#exercice 89
def somme_impairs(ma_liste):
    total = 0
    for nombre in ma_liste:
        if nombre % 2 != 0:
            total += nombre
    return total

resultat = somme_impairs([1, 2, 3, 4, 5])
print(resultat)

9

In [90]:
#exercice 90
def est_palindrome(mon_string):
    return mon_string == mon_string[::-1]

resultat = est_palindrome("racecar")
print(resultat)

True

In [91]:
#exercice 91
def mediane(ma_liste):
    trie = sorted(ma_liste)
    n = len(trie)
    if n % 2 == 0:
        return (trie[n//2-1] + trie[n//2]) / 2
    else:
        return trie[n//2]

resultat = mediane([1, 2, 3, 4, 5])
print(resultat)

3

In [92]:
 #exercice 92
def total_par_cle(liste_dicts):
    resultat = {}
    for dictionnaire in liste_dicts:
        for cle, valeur in dictionnaire.items():
            resultat[cle] = resultat.get(cle, 0) + valeur
    return resultat

resultat = total_par_cle([{"a": 1, "b": 2}, {"a": 3, "b": 4}])
print(resultat)

{'a': 4, 'b': 6}

In [93]:
#exercice 93
ma_liste = [1, 2, 2, 3, 3, 3, 4]
compteur = {}
for element in ma_liste:
    compteur[element] = compteur.get(element, 0) + 1
mode = max(compteur, key=compteur.get)
print(mode)

3

In [94]:
#exercice 94
def somme_carres(ma_liste):
    total = 0
    for nombre in ma_liste:
        total += nombre**2
    return total

resultat = somme_carres([1, 2, 3, 4])
print(resultat)

30

In [95]:
#exercice 95
liste_tuples = []
for i in range(1, 6):
    liste_tuples.append((i, i**3))
print(liste_tuples)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

In [96]:
 #exercice96
def nombres_premiers(n):
    resultat = []
    for numero in range(2, n+1):
        est_premier = True
        for i in range(2, int(numero**0.5)+1):
            if numero % i == 0:
                est_premier = False
                break
        if est_premier:
            resultat.append(numero)
    return resultat

resultat = nombres_premiers(20)
print(resultat)

[2, 3, 5, 7, 11, 13, 17, 19]

In [97]:
#exercice 97
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 2, "c": 3, "d": 4}
cles_communes = set(dict1.keys()) & set(dict2.keys())
print(cles_communes)

{'c', 'b'}

In [98]:
#exercice 98
def plus_de_5_caracteres(ma_liste):
    resultat = []
    for string in ma_liste:
        if len(string) > 5:
            resultat.append(string)
    return resultat

resultat = plus_de_5_caracteres(["apple", "banana", "pear"])
print(resultat)

['banana']

In [99]:
#exercice 99
ma_liste = ["apple", "banana", "cherry"]
resultat = [(string, len(string)) for string in ma_liste]
print(resultat)

[('apple', 5), ('banana', 6), ('cherry', 6)]

In [100]:
#exercice 100
def somme_cles(liste_dicts):
    resultat = {}
    for dictionnaire in liste_dicts:
        for cle, valeur in dictionnaire.items():
            if cle in resultat:
                resultat[cle] += valeur
            else:
                resultat[cle] = valeur
    return resultat

resultat = somme_cles([{"a": 1, "b": 2}, {"a": 3, "b": 4}, {"a": 2}])
print(resultat)

{'a': 6, 'b': 6}